.App {
  text-align: center;
}




.articleContainer {
  border-style: solid;
  border-color: green;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.commentsContainer {
  border-style: solid;
  border-color: rgb(49, 0, 128);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
