.App {
  text-align: center;
}


.userInfo {
  align: right;
  color: #f1f1f1;
  background-color: gray;
  text-align: right;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header {
  
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  
}

.articleContainer {

  background-color: rgba(165, 165, 165, 0.973);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.commentsContainer {
  
  background-color: gray;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
 
}

.singleCommentContainer {
  background-color: rgba(165, 165, 165, 0.973);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  margin-right: 10px;
  margin-left: 10px;
}
